# Object files
obj/*
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*

# Executables
*.out
bin/*
server
client
test
.dep/tests
.deps

#ide stuff
tags
Tags
*.swp
resolution-cache/*

# other
r*hs # vtune output
.deps # makefile temps
*.dat
common.sublime-workspace

